/* ------ TESTING ------ */
/* contrast with all elements assure all backgrounds individually set  */
html {
  background-color: blue;
}

/* hide images for text layout  */
img {
  display: none;
}

/* ensure text colors are set */
html {
  color: red;
}

/* ------ RESET CSS ------  */

* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----- Variables ------ */

:root {
  /* color pallette  */
  --dark-purple: #24053e;
  --light-green: #44ffa1;
  --gray-purple: #584d62;
  --light-gray: #FCF8FF;
  /* background colors  */
  --dark-bg-color: var(--dark-purple);
  --light-bg-color: var(--light-gray);
  --green-bg-color: var(--light-green);
  /* text colors  */
  --light-text-color: white;
  --btn-text-color: var(--dark-purple);
  --heading-text-color: var(--dark-purple);
  --primary-text-color: var(--gray-purple);
  
  /* Elements  */
  --header-bg-color: var(--dark-purple);
  --button-bg-color: var(--green-bg-color);
  --body-bg-color: white;
  --features-bg-color: var(--light-bg-color);
  --cta-bg-color:var(--dark-purple);
}

/* ------ TYPOGRAPHY ------ */

body {
  background-color: var(--body-bg-color);
  color: var(--primary-text-color);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--heading-text-color);
  font-family: "Fraunces", serif;
  font-weight: 600;
}

a {
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.01rem;
}

h1 {
  font-size: 3.125rem;
  line-height: 3.125rem;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.features {
  background-color: var(--features-bg-color);
}

.numbered-section-header {
  font-size: 1.25rem;
  line-height: 2.25rem;
}

/* ------ Header ------  */
.header {
  background-color: var(--header-bg-color);
  color: var(--light-text-color);
}

/* ------ Buttons ------  */
.button-link {
  background-color: var(--button-bg-color);
  color: var(--btn-text-color);
}

/* ------ CTA ------  */
.cta {
  background-color: var(--cta-bg-color);
  color: var(--light-text-color);
}



