@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope:wght@400;700&display=swap");

/* ------ VARIABLES -------  */
:root {
  --light-green: hsl(150, 100%, 63%);
  --dark-purple: hsl(273, 85%, 13%);
  --navy-gray: hsl(271, 12%, 34%);
  --purple-white: hsl(274, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  --font-sans: Manrope, sans-serif;
  --font-serif: Fraunces, serif;
}

/* ------ RESET CSS ------  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  font-size: 100%;
  margin: unset;
}

ul {
  padding-left: unset;
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

html {
  font-feature-settings: normal;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  margin: unset;
}

::selection {
  background-color: var(--light-green);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------ TYPOGRAPHY ------  */
body {
  text-rendering: optimizespeed;
  font: clamp(1rem, 2vw, 1.125rem) / 1.778 var(--font-sans);
  color: var(--dark-purple);
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}

u {
  text-decoration: none;
  display: inline-block;
  border-bottom: 3px solid var(--light-green);
}

.heading-l {
  font-size: clamp(3.125rem, 7vw, 5rem);
  line-height: 1;
}

.heading-m {
  font-size: clamp(2rem, 6vw, 3.5rem);
  line-height: 1.14;
}

.heading-s {
  font-size: clamp(1.75rem, 5vw, 2rem);
  line-height: 1.25;
}