@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope:wght@400;700&display=swap");

/* ------ VARIABLES -------  */
:root {
  --light-green: hsl(150, 100%, 63%);
  --dark-purple: hsl(273, 85%, 13%);
  --navy-gray: hsl(271, 12%, 34%);
  --purple-white: hsl(274, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  --font-sans: Manrope, sans-serif;
  --font-serif: Fraunces, serif;

  --trans-time: 0.5s;
}

/* ------ RESET CSS ------  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  font-size: 100%;
  margin: unset;
}

ul {
  padding-left: unset;
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

html {
  font-feature-settings: normal;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  margin: unset;
}

::selection {
  background-color: var(--light-green);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------ TYPOGRAPHY ------  */
body {
  text-rendering: optimizespeed;
  font: clamp(1rem, 2vw, 1.125rem) / 1.778 var(--font-sans);
  color: var(--dark-purple);
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}

u {
  text-decoration: none;
  display: inline-block;
  border-bottom: 3px solid var(--light-green);
}

.heading-l {
  font-size: clamp(3.125rem, 7vw, 5rem);
  line-height: 1;
}

.heading-m {
  font-size: clamp(2rem, 6vw, 3.5rem);
  line-height: 1.14;
}

.heading-s {
  font-size: clamp(1.75rem, 5vw, 2rem);
  line-height: 1.25;
}
/* ------ BUTTONS -------  */
.button {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  background-color: var(--light-green);
  border: 2px solid var(--light-green);
  height: 3.75rem;
  padding-inline: 2rem;
  transition: background-color var(--trans-time),
    color var(--trans-time) ease-out;
}

.button:is(:hover, :focus-visible) {
  background-color: transparent;
  color: var(--light-green);
}

.link {
  font-weight: bold;
  border-bottom: 3px solid var(--light-green);
  transition: color var(--trans-time) ease-out;
}

.link:is(:hover, :focus-visible) {
  color: var(--light-green);
}
/* ------- HELPERS ------  */
.bg-dark {
  background-color: var(--dark-purple);
}

.bg-light {
  color: var(--purple-white);
}
.container {
  margin-inline: auto;
  width: min(calc(100% - 2rem), 69.375rem);
}
.text-center {
  text-align: center;
}
.text-white {
  color: var(--white);
}

.curved-divider::after {
  content: "";
  position: absolute;
  height: 15.625rem;
  left: -6.25rem;
  right: -6.25rem;
  bottom: 0;
  background-color: var(--curved-divider-color);
  border-radius: 0 0 50% 50%;
  z-index: 1;
  clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%);
  translate: 0 28%;
}

/* ------ NAVIGATION -----  */
.main-navigation {
  align-items: center;
  display: flex;
  height: 9rem;
  justify-content: space-between;
}

.main-navigation > .logo {
  color: var(--white);
}

/* ---- MAIN HEADER -------  */
.main-header {
  --curved-divider-color: var(--dark-purple);

  position: relative;
  padding-bottom: clamp(3rem, 25vw, 12.5rem);
}

.main-header figure {
  position: absolute;
  z-index: 2;
  width: 100%;
  translate: 1.525rem 0;
}

.main-header .button {
  margin-block: 2.375rem 3.125rem;
}

@media (width > 43.57rem) {
  .main-header {
    background-image: url(assets/images/bg-pattern-1.svg),
      url(assets/images/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top -1.75rem left -8.75rem,
      top 10.625rem right -3.125rem;
  }
}

@media (width < 57.5rem) and (width > 35rem) {
  .main-header img {
    width: 70%;
  }
}


